/* ----------------------------------------
                MAIN STYLING
-----------------------------------------*/
body {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.PGPH {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    line-height: 30px; 
    font-size: 16px;
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #bfa1b3;
    font-size: 44px; 
    font-weight: 600;
}
.other-pages-header {
    background-color: black;
    height: 60vh;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}
#other-pages-header__title {
    font-size: 120px;
    color: #fff;
    padding-left: 50px;
    margin: 0;
    font-weight: 100;
    padding-top: 120px;
}


/* ----------------------------------------
                HEADER 
-----------------------------------------*/
.header {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: relative;
}
nav {
    color: rgb(143, 142, 142);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-emphasis: none;
    float: right;
    padding-right: 30px;
}
.nav__item {
    list-style: none;
    display: inline-block;
    margin: 5px;
    padding-top: 25%;
}
.nav__item a {
    text-decoration: none;
    color: rgb(204, 199, 199);
}
.nav__item a:hover {
    color: pink;
}
#header__line--first, 
#header__line--last {
    color: white;
    font-size: 25vh;
    padding-left: 50px;
    margin: 0;
}
#header__line--first {
    font-weight: 100;
    padding-top: 200px;
}
.header__paragraph{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 500px;
    line-height: 30px;
    padding-left: 50px; 
}
/* ----------------------------------------
               INTRO SECTION
-----------------------------------------*/
.intro-section h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #bfa1b3;
    font-size: 44px;
    padding: 150px 0 0 300px;
    font-weight: 600;
}
.p-1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 400px;
    padding-left: 20px;
    transform: translateY(-140px);
    color: grey;
    line-height: 22px;

}
#desktop-img-mac {
    padding-left: 200px;
    display: inline-block;
}
.intro-section h2 {
    color: #d3a0b2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: right;
    padding-right: 120px;
    margin: 0;
    padding-bottom: 20px;
}
.p-2 {
    width: 90%;
    padding-left: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    line-height: 30px;
}
.link-mac {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(88, 88, 88);
    margin-left: 80px;
    border-bottom: 1px solid lightgrey;

}
/* ----------------------------------------
               GHD SECTION
-----------------------------------------*/
.GHD-section img{
    width: 100%;
    padding-top: 100px;

}
/* ----------------------------------------
               PAID WORK SECTION
-----------------------------------------*/
.paid-work-p-1 {
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    font-size: 18px;
    width: 45%;
    font-weight: 100;
    display: inline-block;
    margin: 0;
    transform: translateY(-50px);
}
#mobile-imgs {
    padding-top: 70px; 
    display: inline-block;
    width: 40%;
}
.paid-work-p-2 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   width: 20%;
   color: grey;
   font-size: 22px;
   float: right;
   padding-right: 400px;
}
#desktop-imgs {
    padding-left: 65px;
    margin-bottom: 20px;
}
.my-work-title {
    font-size: 200px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    float:  right;
}
/* ----------------------------------------
                FOOTER
-----------------------------------------*/
.get-in-touch-footer {
    background-color: rgb(249, 249, 249);
    margin: 0;
    padding: 5vh;
    font-weight: 100;
    position: relative;

}
.get-in-touch-footer h4 {
    padding-top: 5vh;
    padding-bottom: 30px;
    margin: 0 0 20px 100px;
    font-size: 25px;
    color: #333;
}
.get-in-touch-footer span {
    color: pink;
}
.get-in-touch-footer ul {
    margin: 0 0 0 100px;
    list-style: none;
    padding: 0; 
    padding-bottom: 5vh;
    
}
.get-in-touch-footer li,
.get-in-touch-footer a {
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    text-decoration: none;
    display: inline-block;
    
}
.get-in-touch-footer a {
    padding-bottom: 2px;
}
.get-in-touch-footer li {
    margin-right: 20px;
    border-bottom: 2px lightgrey solid;
}
.get-in-touch-footer a:hover, 
.get-in-touch-footer li:hover {
    color: black;
    border-bottom: 2px black solid;
}

/* -------------------------------------------------------------------------------------------------------------------
                                            ABOUT PAGE 
--------------------------------------------------------------------------------------------------------------------*/
.about-me-info {
   padding: 50px 0 0 350px; 
   width: 45%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-me-section img {
    width: 100%;
    height: auto;
    padding: 0;
}
.about-me-info__title {padding: 0 !important;}
.about-me-info__exp {
    margin-top: 100px;
    padding-bottom: 20px;
    font-size: 40px;
}
.about-me-info__job a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    
}
.about-me-info__job a:hover {
    color: pink;
}
.about-me-info__job__text{
    padding-bottom: 30px;
}


/* -------------------------------------------------------------------------------------------------------------------
                                            CONTACT PAGE 
--------------------------------------------------------------------------------------------------------------------*/
.get-in-touch-section {
    padding: 50px 0 0 350px; 
}
.get-in-touch__title {
    padding: 0 !important;
}
.input-box {
    display: block;
    width: 50%;
    padding: 10px;
    border: none;
    border-bottom: 1px lightgrey solid;
    font-size: 16px;
    color: lightgray;
    margin-top: 50px;
}
.submit-btn {
    background-color: #d3a0b2;
    width: 150px;
    height: 75px;
    font-size: 16px;
    color: #fff;
    border-color: transparent;
    margin: 30px 0 50px 0;
}
.submit-btn:hover{
    background-color: transparent;
    border: 1px #000 solid;
    color: #000;
}
/* -------------------------------------------------------------------------------------------------------------------
                                                QUALIFICATIONS PAGE 
--------------------------------------------------------------------------------------------------------------------*/
.quali-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 0 0 350px;  
    width: 45%;
}
.quali-section img {
    width: 100%;
    height: auto;
}
.quali-section__title {
    font-size: 35px;
}
.quali-info a {
    color: rgb(163, 163, 163);
    text-decoration: none;
    border-bottom: 1px solid rgb(163, 163, 163);
}
.quali-info a:hover {
    color: pink;
    border-bottom-color: pink;
}
.quali-section__list {
    list-style: none;
    text-align: right;
}
.soon {
    color: pink;
}